.box {
	height: 600px;
	width: 600px;
	margin: 0 auto;
	padding-top: 10px;
}

.tile {
	display: inline-block;
	border-style: solid;
	border-color: #cacad4;
	height: 190px;
	width: 190px;
}

.purple {
	background-color: #b483ff;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.fontSize {
	font-size: 100px;
	text-align: center;
    padding-top: 18px;
    color: #771010;
}

.player-turn {
    height: 65px;
    width: 540px;
	margin: 0 auto;
	text-align: center;
	color: #489440;
}


