#box {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}

.tile {
	display: inline-block;
	border-style: solid;
	border-color: blue;
	height: 195px;
	width: 195px;
}

#box1 {

}

#box2 {
	
}

#box3 {
	
}

#box4 {
	
}

#box5 {
	
}

#box6 {
	
}

#box7 {
	
}

#box8 {
	
}

#box9 {
	
}



