.box {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}

.tile {
	display: inline-block;
	border-style: solid;
	border-color: #cacad4;
	height: 190px;
	width: 190px;
}

.purple {
	background-color: #6b2cbb;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.fontSize {
	font-size: 100px;
	text-align: center;
}




